[Unit]
Description=telegram bot
After=network-online.target

[Service]
WorkingDirectory=%h/app/telegram_bot
ExecStart=%h/app/telegram_bot/main

Restart=always
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=telegram_bot

[Install]
WantedBy=default.target